/* ===========================
   LAYOUT PADRÃO SPDV
=========================== */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial,Helvetica,sans-serif;
}

body{
    background:#f4f6fa;
}

/* TOPO */

.topo{

    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:70px;

    background:#003366;

    color:#fff;

    display:flex;
    align-items:center;
    justify-content:space-between;

    padding:0 20px;

    z-index:9998;

    box-shadow:0 2px 8px rgba(0,0,0,.25);

}

.topo h1{

    font-size:22px;
    font-weight:bold;

}

#usuario{

    font-size:18px;
    font-weight:bold;

}

/* BOTÃO MENU */

#btnMenu{

    width:46px;
    height:46px;

    border:none;
    border-radius:8px;

    background:white;
    color:#003366;

    font-size:28px;

    cursor:pointer;

    transition:.2s;

}

#btnMenu:hover{

    background:#f0f0f0;

}

/* CONTEÚDO */

.container{

    margin-top:95px;
    width:95%;
    margin-left:auto;
    margin-right:auto;

}

/* MENU */

.menuLateral{

    position:fixed;

    top:70px;

    left:-270px;

    width:270px;

    height:calc(100vh - 70px);

    background:#0d1b2a;

    transition:.30s;

    z-index:9999;

    overflow-y:auto;

    box-shadow:5px 0 20px rgba(0,0,0,.35);

}

.menuLateral.ativo{

    left:0;

}

.logo{

    padding:25px;

    color:white;

    text-align:center;

    border-bottom:1px solid rgba(255,255,255,.1);

}

.logo h2{

    font-size:30px;

}

.logo small{

    color:#ccc;

}

.menuLateral a{

    display:block;

    color:white;

    text-decoration:none;

    padding:16px 20px;

    font-size:17px;

    transition:.2s;

}

.menuLateral a:hover{

    background:#0066cc;

}

.menuLateral a.ativo{

    background:#004d99;

}